@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups

<SfComboBox TValue="string" TItem="GameFields" 
            DataSource="@Games" 
            Placeholder="Select a game"
            Width="300px">
    <ComboBoxFieldSettings Text="Text" Value="ID"></ComboBoxFieldSettings>
    <ComboBoxTemplates TItem="GameFields">
        <ItemTemplate>
            <SfTooltip Target=".custom-item" Content="@context.Text">
                <div class="custom-item">@context.Text</div>
            </SfTooltip>
        </ItemTemplate>
    </ComboBoxTemplates>
</SfComboBox>

@code {
    public class GameFields
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }

    private List<GameFields> Games = new List<GameFields>() 
    {
        new GameFields(){ ID= "Game1", Text= "American Football" },
        new GameFields(){ ID= "Game2", Text= "Badminton" },
        new GameFields(){ ID= "Game3", Text= "Basketball" },
        new GameFields(){ ID= "Game4", Text= "Cricket" },
        new GameFields(){ ID= "Game5", Text= "Football" },
        new GameFields(){ ID= "Game6", Text= "Golf" }
    };
}