@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService
    <div>
        <SfButton @onclick="@AlertBtn">Alert</SfButton>
    </div>
@code {

    private async Task AlertBtn()
    {
        await DialogService.AlertAsync("You clicked the alert button!", "Good job!", new DialogOptions()
        {
            PrimaryButtonOptions = new DialogButtonOptions() { Content = "Okay"}
        });
    }
}