
@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService
    <div>
        <button @onclick="@AlertBtn">Alert</button>
    </div>
@code {
    private async Task AlertBtn()
    {
        await DialogService.AlertAsync("Delete certain files to free up space to store more items.", "Not enough space", new DialogOptions()
            {
                Width = "300px",
                Height = "200px",
            });
        }    
}