@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@inject SfDialogService DialogService
    <div>
        <SfButton @onclick="@PromptBtn">Prompt</SfButton>
    </div>
    <div>
        <span class="status">
            @DialogStatus
        </span>
    </div>
@code {
    private string InputValue { get; set; }

    private string DialogStatus { get; set; }

    private async Task PromptBtn()
    {
        string promptText = await DialogService.PromptAsync(null, "Join Chat Group", new DialogOptions()
        {
            ChildContent = @<table class="Table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>Enter your name: </label>
                                        </td>
                                        <td>
                                            <SfTextBox Type="InputType.Text" @bind-Value="InputValue"></SfTextBox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
        });
        this.DialogStatus = $"The user's input is returned as \"{InputValue}\".";
    }
}
