@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService
    <div>
        <SfButton @onclick="@AlertBtn">Alert</SfButton>
    </div>
    <style>
        .e-dialog.customClass {
            max-width: 350px;
            max-height: 250px !important;
        }
    </style>
@code {
    private async Task AlertBtn()
    {
        await DialogService.AlertAsync(" In the Succinctly series, Syncfusion created a robust, free library of more than 130 technical e-books formatted for PDF, Kindle, and EPUB.Each title in the Succinctly series is written by a carefully chosen expert and provides essential content in about 100 pages. The Succinctly series was born in 2012 out of a desire to provide concise technical e-books for software developers.", "About SYNCFUSION Succinctly Serires", new DialogOptions()
            {
               CssClass ="customClass ",
            });
    }   
}
