@page "/"
@using System.ComponentModel.DataAnnotations;
@using Syncfusion.Blazor.Popups

<EditForm Model="@_Records" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#text" WindowCollision="true">
        <CustomTextBox @bind-Value="@(_Records.Text)" ID="text" MaxLength="50" MinLength="1" Multiline="false" Placeholder="Enter a text" Readonly="false"
                                    ValidationMessage="@(() => _Records.Text)" @bind-Value:event="ValueChanged"></CustomTextBox>
        <TooltipTemplates>
            <Content>
                <ValidationMessage For="@(() => _Records.Text)"></ValidationMessage>
            </Content>
        </TooltipTemplates>
    </SfTooltip>
    <button>Submit</button>
</EditForm>

@code {
    private ModalData _Records = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private static void ToolTipOpen(TooltipEventArgs args)
    {
        args.Cancel = !args.HasText;
    }

    private void HandleSubmit()
    {

    }

    public class ModalData
	{
		[Required(ErrorMessage = "This field is required."),
		 StringLength(100, MinimumLength = 2, ErrorMessage = "Length should be between 2 and 100 characters.")]
		public string Text { get; set; }
	}

}
