@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.RichTextEditor


<SfRichTextEditor ID="mentionIntegration">

    <p>Hello
        <span contenteditable="false" class="e-mention-chip"><a href="mailto:maria@gmail.com" title="maria@gmail.com">@@Maria</a></span>
    </p>
    <p>Welcome to the mention integration with rich text editor demo. Type <code>@@</code> character and tag user from the suggestion list. </p>
</SfRichTextEditor>

<div id="mention_integration">
    <SfMention TItem="PersonData" Target="#mentionIntegration_rte-editable" DataSource="@EmailData" SuggestionCount="5">
        <ChildContent>
            <MentionFieldSettings Text="Name"></MentionFieldSettings>
        </ChildContent>
    </SfMention>
</div>

@code {
    public class PersonData
    {
        public string Name { get; set; }
        public string EmailId { get; set; }
        public string EmployeeImage { get; set;}
        public string Status { get; set;}
    }
    List<PersonData> EmailData = new List<PersonData> {
        new PersonData() { Name="Selma Rose",  EmailId="selma@gmail.com" },
        new PersonData() { Name="Russo Kay",   EmailId="russo@gmail.com" },
        new PersonData() { Name="Camden Kate", EmailId="camden@gmail.com" },
        new PersonData() { Name="Garth",  EmailId="garth@gmail.com" },
        new PersonData() { Name="Ursula Ann", EmailId="ursula@gmail.com" },
        new PersonData() { Name="Margaret", EmailId="margaret@gmail.com" },
        new PersonData() { Name="Laura Grace", EmailId="laura@gmail.com" },
        new PersonData() { Name="Robert",  EmailId="robert@gmail.com" },
        new PersonData() { Name="Albert", EmailId="albert@gmail.com" },
        new PersonData() { Name="Michale", EmailId="michale@gmail.com" },
        new PersonData() { Name="Andrew James", EmailId="james@gmail.com" },
        new PersonData() { Name="William", EmailId="william@gmail.com" }
    };
}