@using Syncfusion.Blazor.RichTextEditor  

<SfRichTextEditor> 

 <RichTextEditorPasteCleanupSettings PlainText="true" Prompt="false"/> 

 <p>Rich Text Editor is a WYSIWYG editing control which will reduce the effort for users while trying to express their formatting word content as HTML or Markdown format.</p> 

 </SfRichTextEditor> 