@using Syncfusion.Blazor.RichTextEditor
 
<SfRichTextEditor EnableXhtml="true">
    <RichTextEditorToolbarSettings Items="Items"></RichTextEditorToolbarSettings>
    <DIV>
        <p>XHTML validation ensures structured and standard-compliant content in the Rich Text Editor.</p>
        <B>It automatically corrects invalid markup and enforces proper formatting</b>
        <p>Enable this feature using EnableXhtml property in the editor</P>
    </DIV>
</SfRichTextEditor>
 
@code {
    private List<ToolbarItemModel> Items = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.SourceCode }
    };
}
