@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Data;
@using System.IO

<SfAutoComplete @ref="autoObj" AllowFiltering="true" Placeholder="Select a value" TValue="Moc" TItem="Moc" DataSource="@data" CssClass="e-multi-column">
    <AutoCompleteFieldSettings Value="Text"></AutoCompleteFieldSettings>
    <AutoCompleteEvents Filtering="OnFiltering" TValue="Moc" TItem="Moc"></AutoCompleteEvents>
    <AutoCompleteTemplates TItem="Moc">
        <HeaderTemplate>
            <table><tr><th>ID</th><th>Text</th></tr></table>
        </HeaderTemplate>
        <ItemTemplate Context="itemContext">
            <table>
                <tbody>
                    <tr>
                        @if (!string.IsNullOrEmpty((itemContext as Moc).ID))
                        {
                            <td><span>@((itemContext as Moc).ID)</span></td>
                            <td><span>@((itemContext as Moc).Text)</span></td>
                        }
                    </tr>
                </tbody>
            </table>
        </ItemTemplate>
    </AutoCompleteTemplates>
</SfAutoComplete>

@code {
    SfAutoComplete<Moc, Moc> autoObj;
    public Query query { get; set; }
    public class Moc
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<Moc> data = new List<Moc>
    {
      new Moc() { ID= "12H", Text= "American Football" },
      new Moc() { ID= "14G", Text= "Badminton" },
      new Moc() { ID= "17F", Text= "Basketball" }
    };
    public async Task OnFiltering(FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        var orWhere = WhereFilter.Or(new List<WhereFilter> {
            new WhereFilter() { Field = "Text", Operator = "contains", value = args.Text, IgnoreCase = true },
            new WhereFilter() { Field = "ID", Operator = "contains", value = args.Text, IgnoreCase = true }
        });
        var query = new Query().Where(orWhere);
        query = !string.IsNullOrEmpty(args.Text) ? query : new Query();
        await autoObj.FilterAsync(data, query);
    }
}