@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService
    <div>
        <button @onclick="@AlertBtn">Alert</button>
    </div>
@code {

    private async Task AlertBtn()
    {
        await DialogService.AlertAsync("10% of battery remaining", "Low Battery", new DialogOptions()
        {
            PrimaryButtonOptions = new DialogButtonOptions() { Content = "close"}
        });
    }
}