@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

@inject SfDialogService DialogService
    <div>
        <button @onclick="@PromptBtn">Prompt</button>
    </div>
@code {
    private async Task PromptBtn()
    {
        string promptText = await DialogService.PromptAsync(null, "Template", new DialogOptions()
            {
              
        ChildContent = @<table class="Table">
                        <tbody>
                            <tr>
                                <td>SSID:</td>
                            </tr>
                            <tr>
                                <td><b>AndroidAP</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" style="text-align: left;font-size: 14px;font-weight: 400">Password</label>
                                </td>
                                <td>
                                <SfTextBox Placeholder="Password" Value="Password" Type="InputType.Password"></SfTextBox>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
        });
    }
}