@using Syncfusion.Blazor.Popups

<div id="target">
    <SfDialog Target="#target" Width="300px" ShowCloseIcon="true" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header> Dialog </Header>
            <Content> This is a dialog with header </Content>
        </DialogTemplates>
    </SfDialog>
</div>