@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<div class="example-content">
<label>Mobile Number</label>
<SfMaskedTextBox Mask="(000)-000-0000" EnableLiterals="@IncludeLiterals" @bind-Value="@Value"></SfMaskedTextBox>
<SfCheckBox Label="Included Literals" @bind-Checked="@IncludeLiterals"></SfCheckBox>
</div>
<label>Value :"@Value"</label>

@code
{
    public bool IncludeLiterals { get; set; } = true;
    public string Value { get; set; } = "9867433221"; 
}
<style>
    .example-content{
        margin : 10px;
        width :130px;
    }    
</style>