@using Syncfusion.Blazor.MultiColumnComboBox
@using Syncfusion.Blazor.Buttons

<div>
    <SfMultiColumnComboBox TItem="Games" @ref="@multicolumnObj" TValue="string" DataSource="LocalData" ValueChange="ChangeCountry" Created="onCreate" AllowFiltering=true ValueField="Game" Placeholder="Select a game" TextField="Game" PopupWidth="600px">
    </SfMultiColumnComboBox>
</div>

@code {
    public string comboBoxValue { get; set; }

    SfMultiColumnComboBox<string, Games> multicolumnObj;

    public class Games
    {
        public string ID { get; set; }
        public string Game { get; set; }
        public string Category { get; set; }
    }
    List<Games> LocalData = new List<Games> {
    new Games() { ID= "Game1", Game= "American Football", Category= "Outdoor" },
    new Games() { ID= "Game2", Game= "Badminton", Category= "Indoor" },
    new Games() { ID= "Game3", Game= "Basketball", Category= "Outdoor" },
    new Games() { ID= "Game4", Game= "Cricket", Category= "Outdoor" },
    new Games() { ID= "Game5", Game= "Football", Category= "Outdoor" },
    new Games() { ID= "Game6", Game= "Golf", Category= "Outdoor" },
    new Games() { ID= "Game7", Game= "Hockey", Category= "Outdoor" },
    new Games() { ID= "Game8", Game= "Rugby", Category= "Outdoor" },
    new Games() { ID= "Game9", Game= "Snooker", Category= "Indoor" }
    };

    public void onCreate()
    {
        var args = new Syncfusion.Blazor.MultiColumnComboBox.ValueChangeEventArgs<string, Games>() { Value = "Rugby", ItemData = new Games() { ID = "Game8", Game = "Rugby", Category = "Outdoor" } };
        this.multicolumnObj.ValueChange.InvokeAsync(args);
    }
    public void ChangeCountry(ValueChangeEventArgs<string, Games> args)
    {
        Console.WriteLine("Value has been changed!!");
    }
}