@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor>
    <RichTextEditorToolbarSettings Items="@Items" />
    <RichTextEditorAudioSettings MaxFileSize="30000000"></RichTextEditorAudioSettings>
    <h5>Maximum File Size Restriction</h5>
    <p>You can control the size of audio files uploaded to the editor to ensure optimal performance and prevent large file uploads.</p>
    <ul>
        <li>The MaxFileSize property allows you to restrict audio uploads by defining the maximum allowed file size. By default, the maximum size is set to 30,000,000 bytes (approximately 30 MB). </li>
        <li>Audio files exceeding this limit are blocked from being uploaded to ensure better control and performance.</li>
    </ul>
</SfRichTextEditor>
@code {
    private List<ToolbarItemModel> Items = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Audio }
    };
}