@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor>
    <RichTextEditorToolbarSettings Items="@Items" />
    <h5>Full Screen Mode in Rich Text Editor</h5>
    <ul>
        <li>Expands the Rich Text Editor to utilize the full browser viewport for enhanced visibility.</li>
        <li>Provides a focused, distraction-free environment for creating and editing content.</li>
        <li>Offers additional workspace to access toolbar options and manage complex content easily.</li>
        <li>Can be toggled using the Full Screen option in the toolbar for quick access.</li>
        <li>Restores the editor to its original layout when exited from full screen mode.</li>
    </ul>
</SfRichTextEditor>

@code {
    private List<ToolbarItemModel> Items = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.FullScreen }
    };
}