@using Syncfusion.Blazor.RichTextEditor;
<SfRichTextEditor>
    <RichTextEditorToolbarSettings Items="@Items" />
    <RichTextEditorLineHeight Items="@LineHeightItems" Default="Default"></RichTextEditorLineHeight>
    <p>The Rich Text Editor allows users to apply line-height (line-spacing) to elements like paragraphs, lists, headings, and table cells. You can set line height using a dedicated dropdown in the toolbar, and it is applied as inline style to the selected blocks. This feature makes text easier to read and gives better control over content layout.</p>
    <p><b> Key features:</b></p>   
    <ul>
        <li><p>Provides a <b>Line Height</b> dropdown in the toolbar for easy access.</p></li>
        <li><p>Supports applying line-height to paragraphs, headings, lists, and table cells.</p></li>
        <li><p>Applies line-height as inline styles for consistent and precise text rendering.</p></li>
        <li><p>Ensures consistent appearance across devices and print layouts.</p></li>
        <li><p>Improves text readability and overall document aesthetics.</p></li>
    </ul>
</SfRichTextEditor>
@code {
    private List<ToolbarItemModel> Items = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.LineHeight }, 
    };
    private List<DropDownItemModel> LineHeightItems = new()
    {
        new DropDownItemModel { Text = "Default", Value = "" },
        new DropDownItemModel { Text = "1", Value = "1" },
        new DropDownItemModel { Text = "1.15", Value = "1.15" },
        new DropDownItemModel { Text = "1.5", Value = "1.5" },
        new DropDownItemModel { Text = "2", Value = "2" },
        new DropDownItemModel { Text = "2.5", Value = "2.5" },
        new DropDownItemModel { Text = "3", Value = "3" }
    };
}