@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor>
    <RichTextEditorInlineMode Enable="true" ShowOnSelection="false" />
    <p>
        The sample is configured with inline mode of editor. Initially, the editor is rendered without a
        <a href='https://blazor.syncfusion.com/home/' target='_blank'>toolbar</a>. The toolbar becomes visible only when the content is selected.
    </p>
</SfRichTextEditor>