@using Syncfusion.Blazor.RichTextEditor
@using System.ComponentModel.DataAnnotations;

<EditForm Model="@MyForm">
        <ValidationMessage For="@(() => MyForm.Description)"></ValidationMessage>
    <DataAnnotationsValidator />
    
    <label for="description">Enter Text</label>
    <SfRichTextEditor ShowCharCount="true" EditorMode="EditorMode.Markdown" MaxLength="200" Placeholder="Type something" @bind-Value="@MyForm.Description">
    </SfRichTextEditor>
    
    <button class="e-btn" type="submit">Submit</button>
</EditForm>

@code{
    public class Form
    {
        [Required(ErrorMessage = "RTE: value is required")]
        [MinLength(15, ErrorMessage = "RTE: Need atleast 15 character length")]
        [MaxLength(100, ErrorMessage = "RTE: Maximum 200 characters only")]
        public string Description { get; set; } = "Rich Text Editor allows to insert images from online source as well as local computer where you want to insert the image in your content.";
    }

    private Form MyForm = new Form();
}