@using Syncfusion.Blazor.RichTextEditor
@using System.ComponentModel.DataAnnotations;

<EditForm Model="@MyForm">
    <DataAnnotationsValidator />
    
        <label for="description">Enter Text</label>
        <SfRichTextEditor ShowCharCount="true" EditorMode="EditorMode.Markdown" MaxLength="200" Placeholder="RTE Forms" @bind-Value="@MyForm.Description">
        </SfRichTextEditor>
        <ValidationMessage For="@(() => MyForm.Description)"></ValidationMessage>
    
    <button class="e-btn" type="submit">Submit</button>
</EditForm>

@code{
    public class Form
    {
        [Required]
        [MinLength(20, ErrorMessage = "Please enter at least 20 characters.")]
        public string Description { get; set; } = "Rich Text Editor allows to insert images from online source as well as local computer where you want to insert the image in your content.";
    }

    private Form MyForm = new Form();
}