@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns


<h3>ODataAdaptor </h3>
<div>
<button class="button" @onclick="ClickHandler">Refresh</button>
</div>
<div class="content">
  <SfDropDownList TValue="int?" @ref="Ddlinstance" TItem="OrderDetails1" Placeholder="e.g. Australia" AllowFiltering =true 
       PopupHeight="800px">
     <DropDownListEvents TValue="int?" TItem="OrderDetails1" ></DropDownListEvents>
     <SfDataManager Url="@url" @ref="Datainstance" Adaptor="Adaptors.ODataV4Adaptor" CrossDomain=true></SfDataManager>
    <DropDownListFieldSettings Text="CustomerID" Value="OrderID"></DropDownListFieldSettings>
</SfDropDownList>
</div>


@code {
        public string url { get; set; } = "https://services.odata.org/V4/Northwind/Northwind.svc/Orders/?$top=5";

        DataManager Datainstance { get; set; }

        SfDropDownList<int?, OrderDetails1> Ddlinstance { get; set; }

    async Task ClickHandler()
    {
      Datainstance.Url = "https://services.odata.org/V4/Northwind/Northwind.svc/Orders/?$top=8";
       await Ddlinstance.RefreshDataAsync();
    }

    async Task Filter(FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        Datainstance.Url = "https://services.odata.org/V4/Northwind/Northwind.svc/Orders/?$top=8";
        await Ddlinstance.RefreshDataAsync();
    }

     public class OrderDetails1
    {
        public int? OrderID { get; set; }
        public string CustomerID { get; set; }
        public int? EmployeeID { get; set; }
        public double? Freight { get; set; }
        public string ShipCity { get; set; }
        public bool Verified { get; set; }
        public DateTime? OrderDate { get; set; }
        public string ShipName { get; set; }
        public string ShipCountry { get; set; }
        public DateTime? ShippedDate { get; set; }
        public string ShipAddress { get; set; }
    }

}

   <style>
    .content{
        position:relative;
    }
    </style>