@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data

<SfMention TItem="Contact" Query="@Query" OnActionComplete="OnActionCompleteHandler">
    <TargetComponent>
        <div id="commentsMention" placeholder="Type @@ and tag name" ></div>
    </TargetComponent>
    <ChildContent>
        <SfDataManager Url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers" Adaptor="Syncfusion.Blazor.Adaptors.ODataV4Adaptor" CrossDomain=true></SfDataManager>
        <MentionFieldSettings Text="ContactName" Value="CompanyName"></MentionFieldSettings>
    </ChildContent>
</SfMention>

<style>s
    #commentsMention {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        padding: 8px;
        font-size: 14px;
        width: 600px;
    }
    div#commentsMention[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }
</style>


@code{

    public class Contact
    {
        public string ContactName { get; set; }

        public string CustomerID { get; set; }
    }

    public Query Query = new Query().Select(new List<string> {"CompanyName", "ContactName"}).Take(6).RequiresCount();

    private void OnActionCompleteHandler(ActionCompleteEventArgs args)
    {
        // Here, you can customize your code.
    }
}