@using Syncfusion.Blazor.DropDowns

<SfMention TItem="Complex" DataSource="@LocalData" >
    <TargetComponent>
        <div id="commentsMention" placeholder="Type @@ and tag country" ></div>
    </TargetComponent>
    <ChildContent>
        <MentionFieldSettings Text="Country.CountryName" Value="Code.ID"></MentionFieldSettings>
    </ChildContent>
</SfMention>

<style>
    #commentsMention {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        padding: 8px;
        font-size: 14px;
        width: 600px;
    }
    div#commentsMention[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }
</style>

@code {
    public IEnumerable<CountryGroup> LocalData { get; set; } = new CountryGroup().GetData();


     public class Code
    {
        public string ID { get; set; }
    }

    public class Country
    {
        public string CountryName { get; set; }
    }

    public class CountryGroup
    {
        public Country Country { get; set; }
        public Code Code { get; set; }
        public List<CountryGroup> GetData()
        {
            List<CountryGroup> Data = new List<Complex>();
            Data.Add(new CountryGroup() { Country = new Country() { CountryName = "Australia" }, Code = new Code() { ID = "AU" } });
            Data.Add(new CountryGroup() { Country = new Country() { CountryName = "Bermuda" }, Code = new Code() { ID = "BM" } });
            Data.Add(new CountryGroup() { Country = new Country() { CountryName = "Canada" }, Code = new Code() { ID = "CA" } });
            Data.Add(new CountryGroup() { Country = new Country() { CountryName = "Cameroon" }, Code = new Code() { ID = "CM" } });
            Data.Add(new CountryGroup() { Country = new Country() { CountryName = "Denmark" }, Code = new Code() { ID = "DK" } });
            Data.Add(new CountryGroup() { Country = new Country() { CountryName = "France" }, Code = new Code() { ID = "FR" } });
            return Data;
        }
    }

}