@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data

<SfMention TItem="EmployeeData" PopupWidth="250px" SuggestionCount=6>
        <TargetComponent>
            <div id="commentsMention" placeholder="Type @@ and tag employee"></div>
        </TargetComponent>
        <ItemTemplate>
            <span><span class='name'>@((context as EmployeeData).FirstName)</span><span class='country'>@((context as EmployeeData).Country)</span></span>
        </ItemTemplate>
         <ChildContent>
             <SfDataManager Url="https://blazor.syncfusion.com/services/production/api/Employees" Adaptor="Syncfusion.Blazor.Adaptors.WebApiAdaptor" CrossDomain="true"></SfDataManager>
             <MentionFieldSettings Text="FirstName" Value="EmployeeID"></MentionFieldSettings>
         </ChildContent>
</SfMention>

<style>
    #commentsMention {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        width: 600px;
        font-size: 14px;
        padding: 8px;
        border-radius: 4px;
    }

    div#commentsMention[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }

    .country {
        right: 15px;
        position: absolute;
    }
</style>

@code {

    public class EmployeeData
    {
        public int EmployeeID {get; set; }
        public string FirstName { get; set; }
        public string Designation {get; set; }
        public string Country { get; set; } 
    }
}