@using Syncfusion.Blazor.DropDowns

<SfMention TItem="int?" DataSource="@data" MentionChar="@MentionChar">
    <TargetComponent>
        <div id="commentsMention" placeholder="Type @@ and tag amount" ></div>
    </TargetComponent>
</SfMention>

<style>
    #commentsMention {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        padding: 8px;
        font-size: 14px;
        width: 600px;
    }
    div#commentsMention[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }
</style>

@code {

    private char MentionChar { get; set; } = '$';

    List<int?> data = new List<int?>() {1000, 1500, 3000, 3250, 5000 };
}