@using Syncfusion.Blazor.DropDowns

<SfMention TItem="EmailData" DataSource="@data" SuggestionCount="6">
    <TargetComponent>
        <div id="commentsMention" placeHolder="Type @@ and tag user" ></div>
    </TargetComponent>
    <ChildContent>
        <MentionFieldSettings Text="Name"></MentionFieldSettings>
    </ChildContent>
</SfMention>

<style>
    #commentsMention {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        padding: 8px;
        font-size: 14px;
        width: 600px;
    }
    div#commentsMention[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }
</style>

@code {

    public class EmailData
    {
        public string Name { get; set; }
        public string EmailId { get; set; }
    }

    public List<EmailData> data = new List<EmailData>()
    {
        new EmailData { Name = "Selma Rose", EmailId = "selma@gmail.com" },
        new EmailData { Name = "Maria", EmailId = "maria@gmail.com" },
        new EmailData { Name = "Russo kay", EmailId = "russo@gmail.com" },
        new EmailData { Name = "Robert", EmailId = "robert@gmail.com" },
        new EmailData { Name = "Garth", EmailId = "garth@gmail.com" },
        new EmailData { Name = "Andrew James", EmailId = "andrew@gmail.com" },
        new EmailData { Name = "Olivia", EmailId = "olivia@gmail.com" },
        new EmailData { Name = "Margaret", EmailId = "margaret@gmail.com" },
        new EmailData { Name = "Ursula Ann", EmailId = "ursula@gmail.com" },
        new EmailData { Name = "Laura Grace", EmailId = "laura@gmail.com" },
        new EmailData { Name = "Albert", EmailId = "albert@gmail.com" },
        new EmailData { Name = "William", EmailId = "william@gmail.com" }
    };
}
